.php_cs.cache
.php_cs.dist
*.lnk
/AGENTS.md
/mod_buliergebnisse/README.md
/mod_bulispielplan/README.md
/mod_bulitabelle/README.md
/mod_bulitorschuetzen/README.md
/mod_bulitorschuetzen/images/players/
/mod_bulitorschuetzen/images/player-uploads/
/mod_buliergebnisse.zip
/mod_bulispielplan.zip
/mod_bulitabelle.zip
/mod_bulitorschuetzen.zip
/tpl_buliarena
